h1,
h2,
.homepage p {
	text-align: center;
}

.homepage p {
	font-size: 18px;
	font-weight: 100;
}

h1,
h2,
h3,
p {
	margin-bottom: 18px;
}

h1 {
	margin-bottom: 50px;
}

.blue {
	color: #008cf7;
	font-size: 25px;
}

.clearfix {
	width: 100%; 
	float: none;
}

.list-margin li {
	margin-bottom: 15px;
}

/* Header Styles Starts */
nav li {
	display: inline-block;
	margin-left: 25px;
	line-height: 70px;
}

nav a {
	font-size: 14px;
	text-transform: uppercase;
	color: #666;
	font-weight: 600;
}

nav a:hover {
	color: #e2e2e2;
	text-decoration: none;
}
	
nav span {
	font-size: 12px;
	margin-right: 6px;
}

.banner-nav a {
	color: #fff;
}

.header-contents * {
	z-index: 0;
}

.carousel-caption {
  right: 0;
  top: 30%;
  left: 0;
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

.carousel-caption h1 {
	color: #fff;
  	text-align: left;
  	font-size: 60px;
  	/*max-width: 500px;*/
  	line-height: 80px;
	margin-left: 20px;
}

.banner .btn-info {
	font-size: 24px;
	margin-left: 20px;
	float: left;
}

.banner,
.banner * {
	z-index: 0;
}

.header-wrapper {
	z-index: 1;
	transition: all .3s .1s;
}

@media only screen and (min-width: 1200px) {
	.cta {
		border: 3px solid #ccc;
		padding: 0 20px;
		border-radius: 5px;
		background: url(../images/grey-bg.png);
		color: #fff !important;
	}
	
	.cta:hover,
	.fixed .cta:hover {
		border-color: #86cbff;
		background: #008cf7;
		color: #fff;
	}

	.header-wrapper {
		position: fixed;
		height: 72px;
	}
	
	.logged-in .header-wrapper {
		top: 31px !important;
	}

	.header-wrapper.fixed {
		background: #fff;
		position: fixed;
		width: 100%;
		border-bottom: 1px solid #ccc;
	}
	
	.fixed nav a {
		color: #008cf7;
	}
	
	.fixed nav a:hover {
		color: #86cbff;
	}
}

.cta-business,
.cta-consult {
	display: none;
}

.home-page .cta-business {
	display: block;
}

.home-page .extra-business {
	display: none;
}

.wlabel-page .cta-demo,
.home-page .cta-demo {
	display: none;
}

.wlabel-page .cta-consult {
	display: block;
}
/* Header Styles Ends */

/* Contens Styles Starts */
.each-row {
	padding: 40px 0;
}

.stripe {
	background: #f7f7f7;
}

.btn-c {
	padding-top: 135px;
}

.text-form {
	padding-top: 163px;
}

.text-form input,
.text-form2 input {
	font-size: 16px;
}

.text-form input[type=text],
.text-form input[type=button],
.btn-c a {
	width: 100%;
	margin-bottom: 12px;
}

.btn-c2 a {
	width: 49%;
}

.by-girl img {
	margin-bottom: -40px;
}
/* Contens Styles Ends */

.step {
	text-align: center;
}

.step img,
.features img {
	width: 100%;
	max-width: 300px;
	margin: auto;
	margin-bottom: 12px;
	float: none;	
}

form label span {
	color: red;
}

.mb-less {
	margin-bottom: 15px;
}

/* Footer Styles Starts */
footer {
	background: #262626;
	color: #818181;
}

footer p,
.footer-contents a {
	text-align: left;
	color: #818181;
	font-size: 15px;
	line-height: 25px;
}

footer a:hover {
	color: #fff;
	text-decoration: none;
}

footer strong {
	color: #fff;
}

footer ul,
footer li,
.form ul,
.form li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.form li,
footer li {
	margin-bottom: 20px;
}

footer article {
	width: 25%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	float: left;
}
/* Footer Styles Ends */

/* Business Page Styles Starts */
.pillars {
	padding: 0;
}

.pillars li {
	display: inline-block;
	float: left;
	width: 14.28%;
}

.pillars img {
	width: 100%;
	height: auto;
}

.pillars a {
	display: block;
	position: relative;
	text-align: center;
	color: #fff;
	width: 100px;
	margin: auto;
}

.pillars li:last-child {
	margin-right: 0;
}

.hover-span span,
.pillars span {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/grey-bg.png) repeat;
	width: 100%;
	height: 100%;
	line-height: 100px;
	border-radius: 70px;
	text-align: center;
}

.hover-span {
	width: 120px;
	height: 120px;
	position: relative;
	cursor: pointer;
}

.hover-span img {
	width: 100%;
}

.hover-span span {
	line-height: 120px;
	color: #fff;
}

.no-mb img {
	margin-bottom: -40px;
}

.data {
	top: 60px;
}

.has-img.less-mb {
	bottom: 5%;
}

.has-img.less-mb img {
	width: 75%;
}
/* Business Page Styles Ends */

.wl li {
	width: 11%;
}

.hover-span .two-line,
.wl .two-line {
	line-height: normal;
	padding-top: 30px;
}

.hover-span .two-line {
	padding-top: 40px;
}

/* Media Kit Page Styles Starts */
.md-kit img {
	margin: 20px auto;
}

.list h3 {
	color: green;
}

.dont h3 {
	color: red;
}

.list li {
	margin-bottom: 15px;
	margin-left: 26px;
}

.list li:before {
	background-color: green;
	border-radius: 50%;
	content: " ";
	display: block;
	height: 6px;
	left: -25px;
	position: relative;
	top: 13px;
	width: 6px;
}

.dont li:before {
	background-color: red;	
}
/* Media Kit Page Styles Ends */

/* Beacon Page Styles Starts */
.border {
	border-bottom: 1px solid #e5e5e5;
}
/* Beacon Page Styles Ends */

.top-arrow {
	position: fixed;
	bottom: 70px;
	right: 70px;
	font-size: 40px;
	color: #ccc !important;
	display: none;
}

.top-arrow.show {
	display: block;
}

/* Lightbox Styles Starts */
.layover {
	position: fixed; 
	width: 100%; 
	height: 100%; 
	background: url(../images/grey-bg.png); 
	display: none;
	z-index: 10;
	top: 0;
}

.lightbox-content {
	display: none;
	position: fixed !important;
	top: 10%;
	z-index: 11;
	background: #fff;
	width: 80%;
	min-height: 80%;
	left: 10%;
	padding: 5%;
	text-align: center;
	border: 4px solid #e9e9e9;
	border-radius: 5px;
}

.lightbox-content .hover-span {
	margin: auto;
}

.remove {
	color: #ccc !important;
	font-size: 16px;
	position: absolute;
	right: 5px;
	top: 5px;
}
/* Lightbox Styles Ends */

.custom-border {
	border: 3px solid #fff;
	border-radius: 270px;
	padding: 2px;
	background: #008cf7;
	/*position: relative;*/
	box-shadow: 0 0 0 6px #008cf7;
}

.social-icons a {
	font-size: 20px;
	margin-right: 15px;
	color: #ccc;
	transition: all .3s .1s;
}

.social-icons a:hover {
	color: #008cf7;
}

