/*
Name: BoonYah Wordpress Theme
Date: January 2015
Description: An Official Website Skin for BoonYah Website
Version: 1.0
Author: <a href="http://akifquddus.com" target="_blank">Akif Quddus</a> 
Autor URI: http://akifquddus.com
*/